h2 {
    color: darkgreen;
}

p strong, p em{
    color: orange;
    font-size: 1.5em;
}

p em{
    text-decoration: underline;
}

ul {
    line-height: 2em;
}

td{
    text-align: center;
}

td.location{
    color: darkblue;
}

td.class{
   color: purple;
}

legend, label{
    color: darkred;
    font-weight: bold;
}

#name, #email {
    background-color: lightblue;
}